<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faqih.myclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.faqih.myclass.DetailData"
            android:parentActivityName="com.example.faqih.myclass.DetailData"></activity>
        <activity android:name="com.example.faqih.myclass.UpdateData"
            android:parentActivityName="com.example.faqih.myclass.UpdateData"/>
        <activity android:name="com.example.faqih.myclass.Informasi"
            android:parentActivityName="com.example.faqih.myclass.Informasi"/>
        <activity android:name="com.example.faqih.myclass.InputData"
            android:parentActivityName="com.example.faqih.myclass.InputData"/>
        <activity android:name="com.example.faqih.myclass.DataMahasiswa"
            android:parentActivityName="com.example.faqih.myclass.DataMahasiswa"/>
        <activity android:name="com.example.faqih.myclass.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>